body {
  min-height: 100vh;
  background-color: rgb(11, 0, 43);
}

section {
  min-height: 70vh;
}

#aboutMain {
  min-height: 65vh;
  background-color: aliceblue;
}

#logo {
  min-width: 250px;
  min-height: 150px;
  max-width: 250px;
  max-height: 150px;
  border: 1px solid black;
}

#mainContainer {
  min-height: 65vh;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
